.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "twitch-area other-area other-area"
      "twitch-area other-area other-area";
    width: 100%;
    height: 100%;
  }

.backgroundblack {
    background-color: #282c34;
    min-height: 80vh;
  }

.other-area { 
    grid-area: other-area; 
    background-color: #282c34;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

@media only screen and (max-width: 1026px) {
    .twitch-area {
        display: none;
    }
    .container { 
      display:block; 
      width: 100%;
      height: 100%;
    }
}

  .twitch-area { 
    grid-area: twitch-area; 
    padding: 15px;
  }
  