.socialitem {
    color:#3fa6d6;
    margin: 20px;
    font-size: 2em;
    align-items: center;
}

.socialbanner {
    height: 10vh;
    min-height: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.socialitem:hover {
    color:#ffffff;
    transform: scale(1.3);
    transition: 0.7s;
}

.busy
{
    position: absolute;
    left: 40%;
}